/* Même style que hover, mais appliqué en permanence si .active est présent */
.sidebar .nav-item .nav-link.active {
    background-color: #ffff;   /* même fond que hover */
    color: black;              /* texte en bleu */
}

.sidebar .nav-item .nav-link.active i {
    color: black;              /* icône en bleu */
}

